@font-face{
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}

*{
    border: 0;
    margin: 0;
}

#compact-menu {
    visibility: hidden;
}

#normal-menu nav {
    height: 100vh;
    position: fixed;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#title-menu{
    width: 220px;
    height: 68px;
    background: linear-gradient(0deg,#ED7839 0%,#FFB455 100%);
    display: flex;
    align-items: center; 
    justify-content: center;
}

#title-menu h2{
    letter-spacing: .3px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 30px;
    line-height: 35.16px;
}

#normal-menu img {
    margin: 0px;
    padding: 0px;
}

#normal-menu ul{
    padding: 0px;
    margin: 0px;
    list-style: none;  
}

#normal-menu li {  
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center; 
    width: 220px;
    height: 33px;
    border-bottom: 1.8px solid #e0e0e0;
}

#normal-menu li a{  
    letter-spacing: .3px;
    padding-left: 24px;
    text-decoration: none;
    color: #725C5C;
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 15px;
    line-height: 18.75px;
    width: 220px;
    transition: .1s;
}

#normal-menu .selected{
    height: 33px;
    line-height: 33px;
    border-left: solid 5px;
    border-image: linear-gradient(0deg,#ED7839 0%,#FFB455 100%) 1;
}

#normal-menu li:hover {
    background: #FDF1EB;
}

#normal-menu li:hover a {
    padding-left: 29px;
}

@media (max-width: 768px){
  #normal-menu {
      display: none;
  }

  #compact-menu{
      letter-spacing: .3px;
      color: #fff;
      font-family: "Roboto";
      display: flex;
      visibility: visible;
      justify-content:space-around;
      align-items: center;
      width: 100%;
      height: 68px;
      background: linear-gradient(0deg,#ED7839 0%,#FFB455 100%);
  }

  #compact-menu img {
      border-radius: 30px;
  }

  #compact-menu p {
      font-size: 12px;
  }

}